body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    padding: 20px 40px;
    border-bottom: 2px solid #f1c40f;
    position: relative;
}

header .logo img {
    height: 60px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}




.status {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Estilos da Hero */
.hero {
    text-align: center;
    background: url('../imagens/banner.png') no-repeat center center/cover;
    padding: 100px 20px;
}

.hero img {
    display: block;
    margin: 0 auto;
    height: auto;
    max-width: 100%;
    transition: transform 0.3s ease;
}

.hero img:hover {
    transform: scale(1.1);
}

.hero h1 {
    font-size: 50px;
}

.hero p {
    font-size: 18px;
    margin: 20px 0;
}

.hero button {
    padding: 10px 20px;
    background-color: #f1c40f;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.hero button:hover {
    background-color: #77b300;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

.hero button:active {
    background-color: #e67e22;
}

/* Estilos de Conteúdo */
.content {
    display: flex;
    padding: 20px;
}

.content .left {
    flex: 2;
    margin-right: 20px;
    border-right: 2px solid #f1c40f;
    background-color: #2e2e2e;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinhar ao topo */
    align-items: flex-start;
    text-align: left; /* Garantir alinhamento à esquerda */
    border-radius: 10px;
}

.content .left h2,
.content .left p,
.content .left ul {
    text-align: left; /* Garante que o texto esteja alinhado à esquerda */
    margin-bottom: 15px; /* Ajuste de margens entre elementos */
}

.content .left ul {
    padding-left: 20px; /* Adiciona indentação para as listas */
}

.content .left li {
    margin-bottom: 10px; /* Adiciona espaço entre os itens da lista */
}


.content .left::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: url('../imagens/banner1.png') no-repeat center center;
    background-size: cover;
    z-index: 0;
}

.content .left img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: auto;
    z-index: 1;
}

.content .left h2,
.content .left p {
    position: relative;
    z-index: 2;
    margin-left: 60px;
    color: #fff; /* Contraste de texto */
}

.content .right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content .right .ad,
.content .right .discord {
    background-color: #333;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
}

.content .right .ad button,
.content .right .discord button {
    padding: 10px 20px;
    background-color: #f1c40f;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.content .right .ad button:hover,
.content .right .discord button:hover {
    background-color: #f39c12;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

.content .right .ad button:active,
.content .right .discord button:active {
    background-color: #e67e22;
}

.content .right .discord {
    background-color: #333;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra */
}


.content .right .discord iframe {
    margin-bottom: 20px;
}

.right a {
    padding: 8px 15px;
    background-color: #f1c40f;
    color: rgb(5, 5, 5);
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Estilo para o menu hambúrguer */
.hamburger-menu {
    display: block;
    cursor: pointer;
    font-size: 28px;
    color: #fff;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.hero img.animate {
    animation: shake 0.5s;
    animation-iteration-count: 1;
}


.hamburger-menu {
    display: none;
    cursor: pointer;
    font-size: 28px;
    color: #fff;
    margin-right: 10px;
}
@media (max-width: 768px) {
    .logo {
        display: none; /* Oculta a logo */
    }


    header {
        display: flex;
        flex-direction: column; /* Para garantir que o layout fique correto */
        justify-content: flex-start; /* Garante que os itens estejam à esquerda */
        align-items: flex-start; /* Alinha os itens à esquerda */
        position: relative;
    }

    /* Outros estilos de navegação */
    nav ul {
        display: none; /* Menu escondido inicialmente */
        flex-direction: column;
        width: 100%;
        background-color: #1a1a1a;
        position: absolute;
        top: 50px; /* Abaixo do cabeçalho */
        left: 0;
        z-index: 1000; /* Garante que o menu esteja acima do conteúdo */
        padding: 10px 0;
    }

    nav ul.active {
        display: flex; /* Mostra o menu ao clicar */
    }

    nav ul li {
        margin: 10px 0;
        text-align: center;
    }

    nav ul li a {
        display: block;
        padding: 10px;
        font-size: 18px;
    }

    .search,
    .status {
        display: none; /* Esconde outros elementos do header */
    }

    .content {
        flex-direction: column;
        padding: 10px;
    }

    .content .left,
    .content .right .ad,
    .content .right .discord {
        margin-bottom: 20px;
        margin-right: 0;
        padding: 15px;
    }

    .content .left {
        border-right: none; /* Remove a borda direita em mobile */
    }

    .content .left h2,
    .content .left p {
        margin-bottom: 15px; /* Espaço entre elementos */
        margin-left: 0; /* Remove margem esquerda */
    }

    .content .left::before {
        display: none; /* Remove imagem de fundo em dispositivos móveis */
    }

    .content .right {
        width: 100%;
    }
}
footer {
    background-color: #1a1a1a;
    text-align: center;
    padding: 10px;
    border-top: 2px solid #f1c40f;
}

/* Estilos para Dispositivos Móveis */
@media (max-width: 768px) {
    .hamburger-menu {
        display: block;
        position: relative; /* Altera a posição para relativa */
        top: 20px; /* Ajuste a distância do topo para melhor posicionamento */
        left: 20px; 
        z-index: 1000; /* Mantém o menu acima de outros elementos */
        background-color: #1a1a1a; /* Fundo preto para o menu */
        padding: 10px;
    }

    header {
        display: flex;
        flex-direction: column; 
        justify-content: flex-start; 
        align-items: flex-start;
        position: relative;
        z-index: 1; /* Garante que o header tenha prioridade sobre o menu */
    }

    nav ul {
        display: none; 
        flex-direction: column;
        width: 100%;
        background-color: #1a1a1a; /* Fundo preto para o menu */
        position: absolute;
        top: 60px; /* Ajuste a altura para evitar sobreposição */
        left: 0;
        z-index: 999; /* Garante que o menu esteja visível sobre outros elementos */
        border: none; /* Remove o corte */
    }

    nav ul.active {
        display: flex; 
    }

    nav ul li {
        margin: 10px 0;
        text-align: center;
    }

    nav ul li a {
        display: block;
        padding: 10px;
        font-size: 18px;
    }

    .search,
    .status {
        display: none; /* Esconde outros elementos do header */
    }
}
